.container{
    background-color: white;
    color: rgb(37, 12, 255);
    border: solid red;
    border-width: 3px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
}

.container__btn{
    color: blueviolet;
}

.container__btn_active{
    background-color: red;
}

.container__btn_inactive{
    background-color: rgb(0, 0, 0);
}